<div #targetHeight class="template"
    [style.height]="innerWidth > 949 ? '1338px' : innerWidth >= 649 ? '1971px' : '3863px'">

    <div class="row">

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/curosal_pics/1.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
            <img src="../assets/photogallary/8.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/photogallary/9.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />
            <img src="../assets/curosal_pics/2.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/curosal_pics/3.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea" />
            <img src="../assets/photogallary/10.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/photogallary/11.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
            <img src="../assets/curosal_pics/4.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/curosal_pics/5.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
            <img src="../assets/photogallary/12.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 width_class">
            <img src="../assets/photogallary/13.JPG" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
            <img src="../assets/curosal_pics/6.jpg" class="img_width_class w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />
        </div>

    </div>

</div>