.footer {
    // margin-top: 855px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.footer-info {
    margin-top: 50px;
    position: absolute;
}

.footer-logo {
    margin-top: 100px;
    position: absolute;
}

.space {
    margin-left: 20px;
}

.footer-copy {
    margin-top: 150px;
    position: absolute;
}

.footer-contact {
    color: rgba(0, 0, 0);
    font-size: 16px;
    font-family: 'Trebuchet MS';
}

.footer-copy-content {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: 'Trebuchet MS';
}

.logo {
    width: 21px;
    height: 21px;
    opacity: 1.0;
}