<!-- Header selector -->
<app-header></app-header>

<!-- Curosal selector -->
<app-curosal *ngIf="home || showMyContainer"></app-curosal>

<!-- Resume selector -->
<app-resume *ngIf="resume && !showMyContainer"></app-resume>

<!-- Photography selector -->
<app-photography *ngIf="photography && !showMyContainer"></app-photography>

<!-- About selector -->
<app-about *ngIf="about && !showMyContainer"></app-about>

<!-- contact selector -->
<app-contact *ngIf="contact && !showMyContainer"></app-contact>

<!-- Footer selector -->
<app-footer></app-footer>

<!-- Navigation Section selector (Section with all menu) -->
<app-navigation-page *ngIf="showMyContainer"></app-navigation-page>