// DIV

.name-header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: calc(100% - 150px);
    position: absolute;
}

.nav-header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    position: absolute;
    width: 150px;
    right: 0%;
    display: flex;
    justify-content: center;
}

.nav-align {
    margin-top: 40px;
    position: absolute;
    transform: scale(2);
}

.title-header-1 {
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 100%;
    margin-top: 100px;
    position: absolute;
}

.footer {
    margin-top: 855px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.footer-info {
    margin-top: 50px;
    position: absolute;
}

.footer-logo {
    margin-top: 100px;
    position: absolute;
}

.space {
    margin-left: 20px;
}

.footer-copy {
    margin-top: 150px;
    position: absolute;
}

.side-nav-menu {
    width: 100%;
    height: 1040px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    position: sticky;
    backdrop-filter: blur(10px);
    position: absolute;
    display: flex;
    justify-content: center;
}

.close-nav-menu {
    width: 100%;
    height: 100px;
    // display: flex;
    justify-content: right;
    position: absolute;
}

.list-div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 150px;
    // background-color: black;
}

.div-home {
    margin-top: 150px;
}

.div-resume {
    margin-top: 300px;
}

.div-photo {
    margin-top: 450px;
}

.div-about {
    margin-top: 600px;
}

.div-contact {
    margin-top: 750px;
}

// TEXT

.heading {
    margin-top: 50px;
    margin-left: 50px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: 'Trebuchet MS';
}

.title {
    // margin-top: 50px;
    margin-left: 50px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-family: 'Trebuchet MS';
    // margin-bottom: 75px;
}

.footer-contact {
    color: rgba(0, 0, 0);
    font-size: 16px;
    font-family: 'Trebuchet MS';
}

.footer-copy-content {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: 'Trebuchet MS';
}

.x-close {
    color: black;
    font-size: 25px;
    font-family: 'Trebuchet MS';
}

.list-content {
    margin-top: 50px;
    color: black;
    font-size: 40px;
    letter-spacing: 0.2em;
    font-family: 'Trebuchet MS';
}

// OTHERS

mat-icon {
    margin-top: -10px;
    margin-left: -11px;
    color: black;
    position: absolute;
    // transform: scale(2);
}

.logo {
    width: 21px;
    height: 21px;
    opacity: 1.0;
}

.close {
    margin-top: 50px;
    margin-right: 66px;
    transform: scale(3);
}

::ng-deep {
    .carousel-item {
        display: block;
        opacity: 0;
        transition: opacity 2s;
    }

    .carousel-item.active {
        display: block;
        opacity: 1;
        transition: opacity 2s;

    }
}

// CONDITIONAL FORMATTING

@media screen and (max-width: 600px) {
    .heading {
        margin-left: 20px;
    }

    .title {
        margin-left: 20px;
    }
}