<div (window:resize)="onResize()">
  <div class="name-header" *ngIf="innerWidth >= 700">
    <p class="heading">MUTHUKUMARAVEL</p>
  </div>
  <div class="name-header" *ngIf="innerWidth < 700">
    <p class="heading">MUTHU</p>
  </div>
  <div class="nav-header">
    <div class="nav-align">
      <button mat-icon-button class="example-icon" (click)="updateFunc()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="title-header-1">
    <p class="title">AI / DL ENTHUSIAST & PHOTOGRAPHER</p>
  </div>
</div>

<!-- Curosal selector -->
<app-curosal></app-curosal>

<!-- Footer selector -->
<app-footer></app-footer>

<div class="side-nav-menu" *ngIf="showMyContainer">
  <div class="close-nav-menu">
    <button type="button" class="close" (click)="updateFunc()" aria-label="Close">
      <span aria-hidden="true" class="x-close">×</span>
    </button>
  </div>
  <div class="list-div div-home">
    <button class="btn bg-transparent" (click)="updateFunc()">
      <span class="list-content">HOME</span>
    </button>
  </div>
  <div class="list-div div-resume">
    <button class="btn bg-transparent" (click)="updateFunc()">
      <a [href]="resume"><span class="list-content">RESUME</span></a>
    </button>
  </div>
  <div class="list-div div-photo">
    <button class="btn bg-transparent" (click)="updateFunc()">
      <span class="list-content">PHOTOGRAPHY</span>
    </button>
  </div>
  <div class="list-div div-about">
    <button class="btn bg-transparent" (click)="updateFunc()">
      <span class="list-content">ABOUT</span>
    </button>
  </div>
  <div class="list-div div-contact">
    <button class="btn bg-transparent" (click)="updateFunc()">
      <span class="list-content">CONTACT</span>
    </button>
  </div>
</div>