.template {
    margin-top: 155px;
    background-color: black;
    height: 500px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    line-height: 60px;
}