<div class = top-box-div></div>

<div class = full-div>
  <div class = main-div>
    
    <div class = name-div>
      <h1 class=h1-name>MUTHUKUMARAVEL</h1>
      <p class=p-heading>(+91) 98765 43210</p>
      <p class=p-heading><a class=a-heading-link title="e-mail" href="mailto:muthukumaravel.muthuraman@gmail.com">muthukumaravel.muthuraman@gmail.com</a></p>
      <p class=p-heading><a class=a-heading-link title="LinkedIn" href="https://www.linkedin.com/in/muthukumaravel/">https://www.linkedin.com/in/muthukumaravel/</a></p> 
    </div>
    
    <div class = photo-div>
      <img class="mkv-pic" src="../assets/mkv.jpg">
    </div>
    <div class = photo-div-decor></div>

  </div>
</div>

<router-outlet></router-outlet>