// Common Settings
h1, 
h2,
h3,
h4,
h5,
h6,
p {
  font-family : 'Trebuchet MS';
}

.name-settings {
  color: rgb(204, 92, 113);
}

.number-settings {
  color: rgb(176, 172, 172);
}

.p-about-heading
{
  color: rgb(204, 92, 113);
}

.p-about-content
{
  color: rgb(118, 113, 113);
  text-align: justify;
}

.full-div {
  width : 100%;
}

.top-div {
  width : 100%;
  background-color : rgba(108, 34, 48, 0.79);
  height : 40px;
}

@media screen and (min-width: 1000px)
{
  // MAIN CONTENT
  .main-div
  {
    width : 100%;
  }

  // HEADING SECTION
  .name-div {
    position: absolute;
    width: calc(60% + 25px);
    left: 25px;
    text-align: right;
  }

  .name-settings
  {
    margin-top: 50px;
    font-size: 52px;
  }

  .number-settings {
    margin-top: 50px;
    font-size: 16px;
  }

  // PHOTO SECTION
  .photo-div
  {
    position: absolute;
    width: 250px;
    aspect-ratio: 1/1;
    left: calc(25px + 50px + 60%);
  }

  .mkv-pic
  {
    width: 250px;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 999;
  }

  .photo-div-decor
  {
    position: absolute;
    width: 25px;
    aspect-ratio: 1/1;
    left: calc(12px + 50px + 60%);
    background: rgb(108, 34, 48);
    margin-top: 50px;
    z-index: 999;
  }

  // ABOUT SECTION
  // BETWEEN 1000px - 1200px
  @media screen and (max-width: 1200px)
  {
    .about-div
    {
      position: absolute;
      width: calc(40% - 50px - 50px - 25);
      right: 25px;
      left: calc(75px + 50px + 60%);
      background: rgb(18, 18, 18);
    }
  }
  // BETWEEN 1200px - INFINITY
  @media screen and (min-width: 1200px)
  {
    .about-div
    {
      position: absolute;
      width: 325px;
      left: calc(75px + 50px + 60%);
      background: rgb(18, 18, 18);
    }
  }

  .p-about-heading
  {
    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 36px;
  }

  .p-about-content
  {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 27px;
  }
}



@media screen and (max-width: 1000px)
{
  // MAIN CONTENT
  .main-div
  {
    width : 100%;
  }

  // HEADING SECTION
  .name-div {
    width: 100%;
    left: 25px;
    right: 25px;
    text-align: center;
  }

  .name-settings
  {
    margin-top: 320px;
    font-size: 40px;
  }

  .number-settings {
    margin-top: 50px;
    font-size: 13px;
  }

  // PHOTO SECTION
  .photo-div
  {
    margin-top: 365px;
    left : 15%;
    width : 70%;
    aspect-ratio : 1/1;
  }

  .mkv-pic
  {
    margin-left: 22%;
    margin-bottom: 50px;
    width: 100%;
    aspect-ratio: 1/1;
  }

  // ABOUT SECTION
  .about-div
  {
    margin-top: 1vw;
    position: absolute;
    width: 100%;
    background: rgb(18, 18, 18);
  }

  .p-about-heading
  {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 36px;
    text-align: center;
  }

  .p-about-content
  {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 27px;
  }
}