<!-- FULL CONTENT -->
<div class = full-div>

  <!-- BLANK TOP BAR -->
  <div class = top-div></div>
  
  <!-- MAIN CONTENT -->
  <div class = main-div>

    <div class=name-div>
      <h1 class = name-settings>MUTHUKUMARAVEL</h1>
      <p class = number-settings>(+91) 98765 43210</p>
      <p><a class = "number-settings" title="E-mail" href="mailto:muthukumaravel.muthuraman@gmail.com">muthukumaravel.muthuraman@gmail.com</a></p>
      <p><a class = "number-settings" title="LinkedIn" href="https://www.linkedin.com/in/muthukumaravel/">https://www.linkedin.com/in/muthukumaravel</a></p> 
      <p><a class = "number-settings" title="GitHub" href="https://github.com/muthu-kumaravel">https://github.com/muthu-kumaravel</a></p>
    </div>

  </div>
  
  <!-- PHOTO / CUROSALS -->
  <div class = photo-div>
    <img class="mkv-pic" src="../assets/mkv.jpg">
  </div>
  <div class = photo-div-decor></div>
  
  <!-- ABOUT SECTION -->
  <div class = about-div>
    <p class = p-about-heading-1>.</p>
    <p class = p-about-heading>About</p>
    <p class = p-about-content>I am a Machine Learning Engineer with expertise in ML Cloud deployment, Computer Vision, Deep Learning, code optimization and frontend development. Energized to take up difficult challenges and crack them. The unquenchable thirst to explore several things (including DL, SaaS, the World, photography and the people) keeps me going.</p>
    <p class = p-about-content>Interested to work in the cutting edge fields of MLOps, DevOps, Deep Learning, Computer Vision, Autonomous Vehicles, SaaS and more which makes the world an interesting and safe place to live.</p>
    <p class = p-about-content>I have 2+ years of experience developing industry-leading Open Source SDKs, Libraries and the latest tech VSaaS products for Bio-Hazard monitoring, tracking, re-identification, analyzing various human activities, behavior and large scale surveillance.</p>
    <p class = p-about-content>Apart from tech, I am curious to learn how things work, and I always keep exploring a lot of places around India and the Globe also love to learn about various human cultures and make a lot of memories along the way.</p>
    <p class = p-about-heading-1>.</p>
  </div>

  <!-- MAIN CONTENT SECTION -->
  <div class=content-div>
    <p class = p-about-heading-2>.</p>
    <p class = p-exp-heading>EXPERIENCE</p>
    <p class = p-exp-heading-1>MACHINE LEARNING ENGINEER</p>
    <p class = p-exp-heading-2>Quantiphi<i class = p-exp-heading-3>&nbsp;(May 2021 – Present)</i></p>
    <p class = p-exp-content>As a part of Q’s NVIDIA Alliance, I work closely with clients on cutting edge latest tech related to VSaaS using NVIDIA hardware and several DL frameworks. The major focus is to research, innovate, develop, optimize and make it the best. Currently working on a highly scalable Bio-Hazard monitoring and Screening Application for one of the leading IR/Vision camera manufacturer. Work includes developing multiple streaming pipelines using DeepStream, model training using TLT/TAO & other frameworks for achieving the best accuracy and deployment on both edge (Jetson) and cloud (AWS & GCP) for RGB and IR streams. All development revolves around all features of human (face, person & more) tracking, re-identification, weapon/hidden object detection, fire and hotspot monitoring everything happening in most optimized way possible.</p>

    <p class = p-exp-heading-1-1>SOFTWARE ENGINEER</p>
    <p class = p-exp-heading-2>Multicoreware<i class = p-exp-heading-3>&nbsp;(June 2019 – May 2021)</i></p>
    <p class = p-exp-content>Worked on MCW's major products HuBe.ai (Human Behavior AI), FaceAnalytiQ and open source project AMD Radeon Performance Primitives (RPP). Core member of idealizing and designing API SaaS platform HuBe based out on AWS. Involved in development of all parts of code and model training, work also includes deployment of SDK and model on Cloud with REST API support, NoSQL database management with MongoDB and reduce the search and compute latency for face matcher, memory and code optimization, complex test suites creation for all the projects for multiple backends like OpenVINO, TensorRT & SNPE on CPUs, GPUs & DSPs devices. Apart from this have written 70+ optimized and parallel Computer Vision Kernels (for faster DL compute and Image Processing) for AMD CPUs and GPUs using OpenMP and OpenCL.</p>

    <p class = p-exp-heading-1-2>SOFTWARE DEVELOPMENT INTERN</p>
    <p class = p-exp-heading-2>ValueLabs<i class = p-exp-heading-3>&nbsp;(January 2019 – April 2019)</i></p>
    <p class = p-exp-content>Please refer to the Detailed Resume (Linked on the right side of this resume) for a more detailed overview of experience in all organizations.
    </p>

    <p class = p-edu-heading>EDUCATION</p>
    <p class = p-edu-heading-1>B. E. COMPUTER SCIENCE & ENGINEERING</p>
    <p class = p-edu-heading-2>Panimalar Engineering College<i class = p-edu-heading-3>&nbsp;(August 2015 – April 2019)</i></p>
    <p class = p-exp-content>Involved in many inter-college activities and Head of Symposium. Have received more than 30 awards and prizes from top Universities and Organizations like Nokia Communication for best Idea Presentation and Project Display.</p>

    <p class = p-tec-heading>TECH STACK</p>
    <p class = p-tech-heading-2><b>CORE LANGUAGES, FRAMEWORK & LIBRARY</b></p>
    <div class = small-box-div><p class = p-box><b>C</b></p></div>
    <div class = small-box-div><p class = p-box><b>C++</b></p></div>
    <div class = small-box-div><p class = p-box><b>Python</b></p></div>
    <div class = small-box-div><p class = p-box><b>CUDA</b></p></div>
    <div class = small-box-div><p class = p-box><b>OpenCL</b></p></div>
    <div class = small-box-div><p class = p-box><b>OpenCV</b></p></div>
    <div class = small-box-div><p class = p-box><b>TensorRT</b></p></div>
    <div class = small-box-div><p class = p-box><b>OpenVINO</b></p></div>
    <div class = small-box-div><p class = p-box><b>DeepStream</b></p></div>
    <div class = small-box-div><p class = p-box><b>HIP</b></p></div>
    <div class = small-box-div><p class = p-box><b>TensorFlow</b></p></div>
    <div class = small-box-div><p class = p-box><b>PyTorch</b></p></div>
    <div class = small-box-div><p class = p-box><b>NVIDIA’s Transfer Learning / TAO Toolkit</b></p></div>
    
    
    <p class = "p-about-heading-2 clearfix">.</p>
    <p class = p-tech-heading-2><b>WORK KNOWLEDGE</b></p>
    <div class = small-box-div><p class = p-box><b>Computer Vision</b></p></div>
    <div class = small-box-div><p class = p-box><b>Memory & Code optimization</b></p></div>
    <div class = small-box-div><p class = p-box><b>Docker</b></p></div>
    <div class = small-box-div><p class = p-box><b>Image Processing</b></p></div>
    <div class = small-box-div><p class = p-box><b>AWS</b></p></div>
    <div class = small-box-div><p class = p-box><b>Version Control (GIT)</b></p></div>
    <div class = small-box-div><p class = p-box><b>Test Suite Development</b></p></div>
    <div class = small-box-div><p class = p-box><b>REST API</b></p></div>
    <div class = small-box-div><p class = p-box><b>NoSQL</b></p></div>
    <div class = small-box-div><p class = p-box><b>UI/UX</b></p></div>
    <p class = "p-about-heading-2 clearfix">.</p>
  </div>

</div>

<!-- <p class = p-about-content>For detailed information on work and personal accomplishments, please follow the below links,</p>
    <div class="card-container">
      <a class="circle-link" title="LinkedIn" href="https://www.linkedin.com/in/muthukumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/LinkedIn.png" alt="Github">
      </a>
      <a class="circle-link" title="GitHub" href="https://github.com/muthu-kumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/GitHub.png" alt="Github">
      </a>
      <a class="circle-link" title="Resume" href="https://github.com/muthu-kumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/resume.png" alt="Github">
      </a>
    </div> -->

<router-outlet></router-outlet>