/////////////////////////////////////////////////////////////
// FIXED CUSTOMIZATION DIRECTILY TO TAG
/////////////////////////////////////////////////////////////

// COMMON SETTINGS FOR FONT
h1, 
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// H1 Default settings
h1 {
  display: flex;
  line-height: 1;
  color: #a2e5ffc7;
  font-weight: lighter;
}

// H2 Default settings
h2 {
  line-height: 1.5;
  color: #7edaffb6;
  font-weight: bolder;
}

// Paragrapg Default settings
p {
  line-height: 1.5;
  color: #3ec8ff9f;
}

/////////////////////////////////////////////////////////////
// SECTION 1
/////////////////////////////////////////////////////////////

// Main Div content of the first section
.main-div
{
  background: #000613;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_gradient_right_bottom {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow:
    0 0 40vw 10vw rgba(100, 38, 87, 0.5),
    0 -7.5vw 45vw 15vw rgba(100, 38, 87, 0.6);
  display: flex; 
  position: absolute; 
  left : 100%
}

.div_gradient_right_top {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow:
    0 0 45vw 12vw rgba(38, 64, 148, 0.5),
    0 7.5vw 50vw 17vw rgba(38, 64, 148, 0.4);
  display: flex; 
  position: absolute; 
  left : 100%;
}

.div_gradient_left_top {
  width: 1px;
  height: 1px;
  border-radius: 15%;
  box-shadow:
    0 0 40vw 8vw rgba(38, 64, 148, 0.5),
    0 0 60vw 12vw rgba(38, 64, 148, 0.4);
  display: flex; 
  position: absolute; 
  left : 0%;
}

// Class for Div containing main contents of the page
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
}

// Class for Div containing the links for social profile
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// Class for circle social profile (OUTER CIRCLE LOGO / CLICK)
.circle-link {
  background-color: #6ce4ff8e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease-out;
}

// Class for circle social profile (INNER CIRCLE LOGO)
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

// WIDTH Conditional formatting fo the Section One
// If the page WIDTH is more than 600 and less than 1366(FIXED)
@media screen and (min-width: 600px) {
  h1 {
      font-size: 70px;
  }

  h2 {
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }

  .content {
    padding: 0 0px;
    width: 600px;
  }

  .circle-link {
    height: 33px;
    width: 33px;
    margin: 10px;
    border: 0px;
    border-radius: 33px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.507), 0 3px 5px rgba(0, 0, 0, 0.603);
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.507), 0 3px 5px rgba(0, 0, 0, 0.603);
  }
  
  .social-link {
    height: 25px;
    width: 25px;
  }
}

// If the page WIDTH is less than 600 (FIXED / VARIABLE)
@media screen and (max-width: 600px) {
  h1 {
      font-size: 11.667vw;
      margin: 0vw;
  }

  h2 {
    margin: 0vw 0;
    font-size: 4.167vw;
  }

  p {
    font-size: 2vw;
  }

  .content {
    padding: 0 0vw;
    width: 100%;
  }

  .circle-link {
    height: 5.500vw;
    width: 5.500vw;
    margin: 1.667vw;
    border: 0vw;
    border-radius: 5.500vw;
    box-shadow: 0 0.500vw 3vw rgba(0, 0, 0, 0.507), 0 0.500vw 0.833vw rgba(0, 0, 0, 0.603);
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.500vw 3vw rgba(0, 0, 0, 0.507), 0 0.500vw 0.833vw rgba(0, 0, 0, 0.603);
  }
  
  .social-link {
    height: 4.167vw;
    width: 4.167vw;
  }
}

// HEIGHT Conditional formatting fo the Section One
// If the page HEIGHT is more than 821
@media screen and (min-height: 821px){

  .content {
    top: calc(424 - #{height});
  }
  .main-div
  {
    height: 848px;
  }
  .div_gradient_right_bottom {
    top: 763px;
  }
  .div_gradient_right_top {
    top: 85px;
  }
  .div_gradient_left_top {
    top: 30px;
  }
}

// If the page HEIGHT is more than 786 and less than 821
@media screen and (min-height: 768px) and (max-height: 821px) {

  .content {
    top: calc(410 - #{height});
  }
  .main-div
  {
    height: 821px;
  }
  .div_gradient_right_bottom {
    top: 739px;
  }
  .div_gradient_right_top {
    top: 82px;
  }
  .div_gradient_left_top {
    top: 35px;
  }
}

// If the page HEIGHT is less than 786
@media screen and (max-height: 768px) {

  .content {
    top: calc(384 - #{height});
  }
  .main-div
  {
    height: 768px;
  }
  .div_gradient_right_bottom {
    top: 691px;
  }
  .div_gradient_right_top {
    top: 77px;
  }
  .div_gradient_left_top {
    top: 40px;
  }
}

/////////////////////////////////////////////////////////////
// SECTION 2 (DIVIDER)
/////////////////////////////////////////////////////////////

// Main Div content of the first section
.s2-main-div
{
  background: #000613;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.s2-semi-circle {
  display: flex; 
  height: 300px;
  position: absolute;
  width: 108%;
  background: #00060f;
  border-radius: 50% 50% 0 0;
  justify-content: center;
  align-items: center;
}

// Class for Div containing main contents of the page
.s2-h2 {
  align-items: center;
  position: absolute; 
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

/////////////////////////////////////////////////////////////
// SECTION 3 (NAVBAR)
/////////////////////////////////////////////////////////////

// Main Div content of the first section
.s3-main-div
{
  background: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  height: 100px;
  position: absolute;
}

// Class for Div containing main contents of the page
.s3-h2 {
  align-items: center;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}