<!-- FULL CONTENT -->
<div class = full-div>

  <!-- BLANK TOP BAR -->
  <div class = top-div></div>
  
  <!-- MAIN CONTENT -->
  <div class = main-div>

    <div class=name-div>
      <h1 class = name-settings>MUTHUKUMARAVEL</h1>
      <p class = number-settings>(+91) 98765 43210</p>
      <p><a class = "number-settings" title="E-mail" href="mailto:muthukumaravel.muthuraman@gmail.com">muthukumaravel.muthuraman@gmail.com</a></p>
      <p><a class = "number-settings" title="LinkedIn" href="https://www.linkedin.com/in/muthukumaravel/">https://www.linkedin.com/in/muthukumaravel</a></p> 
      <p><a class = "number-settings" title="GitHub" href="https://github.com/muthu-kumaravel">https://github.com/muthu-kumaravel</a></p>
    </div>

  </div>
  
  <!-- PHOTO / CUROSALS -->
  <div class = photo-div>
    <img class="mkv-pic" src="../assets/mkv.jpg">
  </div>
  <div class = photo-div-decor></div>
  
  <!-- ABOUT SECTION -->
  <div class = about-div>
    <p class = p-about-heading>About</p>
    <p class = p-about-content>I am a Machine Learning Engineer with expertise in ML Cloud deployment, Computer Vision, Deep Learning, code optimization and frontend development. Energized to take up difficult challenges and crack them. The unquenchable thirst to explore several things (including DL, SaaS, the World, photography and the people) keeps me going.</p>
    <p class = p-about-content>Interested to work in the cutting edge fields of MLOps, DevOps, Deep Learning, Computer Vision, Autonomous Vehicles, SaaS and more which makes the world an interesting and safe place to live.</p>
    <p class = p-about-content>I have 2+ years of experience developing industry-leading Open Source SDKs, Libraries and the latest tech VSaaS products for Bio-Hazard monitoring, tracking, re-identification, analyzing various human activities, behavior and large scale surveillance.</p>
    <p class = p-about-content>Apart from tech, I am curious to learn how things work, and I always keep exploring a lot of places around Indian and the Globe also love to learn about various human cultures and make a lot of memories along the way.</p>
  </div>


</div>

<!-- <p class = p-about-content>For detailed information on work and personal accomplishments, please follow the below links,</p>
    <div class="card-container">
      <a class="circle-link" title="LinkedIn" href="https://www.linkedin.com/in/muthukumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/LinkedIn.png" alt="Github">
      </a>
      <a class="circle-link" title="GitHub" href="https://github.com/muthu-kumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/GitHub.png" alt="Github">
      </a>
      <a class="circle-link" title="Resume" href="https://github.com/muthu-kumaravel/" target="_blank" rel="noopener">
        <img class="social-link" src="../assets/resume.png" alt="Github">
      </a>
    </div> -->

<router-outlet></router-outlet>