<div class="side-nav-menu" *ngIf="showMyContainer">
  <div class="close-nav-menu">
    <button type="button" class="close" (click)="updateFunc(0)" aria-label="Close">
      <span aria-hidden="true" class="x-close">×</span>
    </button>
  </div>
  <div class="list-div div-home">
    <button class="btn bg-transparent" (click)="updateFunc(1)">
      <span class="list-content">HOME</span>
    </button>
  </div>
  <div class="list-div div-resume">
    <button class="btn bg-transparent" (click)="updateFunc(2)">
      <a (click)="goToLink('resume_link')"><span class="list-content">RESUME</span></a>
    </button>
  </div>
  <div class="list-div div-photo">
    <button class="btn bg-transparent" (click)="updateFunc(3)">
      <span class="list-content">PHOTOGRAPHY</span>
    </button>
  </div>
  <div class="list-div div-about">
    <button class="btn bg-transparent" (click)="updateFunc(4)">
      <span class="list-content">ABOUT</span>
    </button>
  </div>
  <div class="list-div div-contact">
    <button class="btn bg-transparent" (click)="updateFunc(5)">
      <span class="list-content">CONTACT</span>
    </button>
  </div>
</div>